@charset "utf-8";

/* ponemos color background*/
body {
    background-color: #979e6b;
    margin: 0;
}
/* con el div movemos la imagen*/
#imagenIndex {
   display:flex;
   justify-content: center;
   align-items: center;
   text-align: center; /* Los cuatros jinetes del apocalipsis para centrar */
   margin-top: 100px;
}

/* con el ID de la imagen damos tamaño y el borde*/
#cartelPrimero {
    width: 600px;
    border: 4px solid rgb(121, 4, 4);
    border-radius: 10px;
}